@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

.input-clinplay {
    @apply w-full px-4 py-2 rounded-lg border border-slate-200 outline-none transition-all focus:border-blue-500 focus:ring-4 focus:ring-blue-100;
}

.text-color {
    @apply text-[#2F3A4A];
}

.verde-clinplay {
    @apply text-[#7ED1B2];
}
.input-field-clinplay-icon {
    @apply text-slate-400 w-5 h-5;
    @apply text-[#7ED1B2];
}
